<template name="home">
  <div class="template-home">
    <div class="page-header">
		
		 {{> sAlert}}
		
		{{#if noData}}
      <h4 class="view">Upload CSV File </h4>
  	{{else}}	
	
  		<button class="btn btn-primary again"><i class="fa fa-cloud-upload"></i> Try Again</button>
	
  	{{/if}}
    </div>
	{{#if noData}}
    	{{#unless uploading}}
      		<input type="file" name="uploadCSV">
    	{{else}}
      		<p><i class="fa fa-spin fa-refresh"></i> Uploading files...</p>
   		{{/unless}}
	{{else}}	
	
		{{> ReactiveDatatable tableData=reactiveDataFunction options=optionsObject }}
	
	{{/if}}
  </div>
</template>
